<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757087137413-lmdnjeb2ppr2p3edamj3m51jt1rgred6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757087137413-lmdnjeb2ppr2p3edamj3m51jt1rgred6</string>
	<key>API_KEY</key>
	<string>AIzaSyBH2mzNxR4_BpSClhRbE-4lDCK9Cl9T1wI</string>
	<key>GCM_SENDER_ID</key>
	<string>757087137413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tommy.signuserModule</string>
	<key>PROJECT_ID</key>
	<string>signuser</string>
	<key>STORAGE_BUCKET</key>
	<string>signuser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757087137413:ios:00b118f19fba66371943ec</string>
</dict>
</plist>